 .main {
    background-color: #06000f;
   
  
  }
  body {
    background-color: #06000f;
    overflow-x: hidden;
  }
  html {
    scroll-behavior: smooth;
  }
  
   .why-purple {
    position: absolute;
    width: 711px;
    height: 727px;
    top: -50vh;
    left: 50%;
  }
  .why-purple-hearing {
    position: absolute;
    width: 711px;
    height: 727px;
    left: 60%;
    top: 30vh;
    transform: rotate(180deg);
    opacity: 0.6;
  }
  /* purple text color  */
  .purple {
    color: #CE12AF;
  }
 

  /* logo  */
  .logo {
    position: relative;
    left: 5.5%;
    top: 3vh;
    height: 20vh;
  }
   .logo-box {
    position: absolute;
    width: 246px;
    height: 211px;
    top: 1px;
    left: 105px;
    transition: transform 0.5s ease-in-out;
  }
  .logo-box:hover {
    animation: spin 2s linear infinite; 
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg); /* Adjust the degree of rotation as needed */
    }
  }


  .line-logo {
    position: relative;
    width: 36px;
    height: 5px;
    top: 95px;
    left: 384px;
    background-color: #ffffff;
  }
    .line-logo-left {
    position: absolute;
    width: 36px;
    height: 5px;
    top: 95px;
    left: 43px;
    background-color: #ffffff;
  }

   .text-box {
    position: absolute;
    width: 456px;
    top: 209px;
    left: 0;
    font-family: "Ubuntu", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 35px;
    letter-spacing: 0;
    line-height: 30px;
  }
  .title-all-products {
    font-family: "Ubuntu", Helvetica;
    font-size: 4vh;
    position: relative;
    left: 25vh;
    margin-top: 5vh;

  }
  
  .title-all-products div {
    width: 32vh;
    height:4vh;
    background-color: #C48DDD;
    position: relative;
    opacity: 0.68;
    top: -2.5vh;
    left: -2vh;
    z-index: 0;
    margin-bottom: 5vh;
    
  }
  .title-all-products p {
    position: relative;
    z-index: 101;
    font-weight: 500;

  }


  
  .why-pink-box {
    width: 30vh;
    height: 7vh;
    border-radius: 5vh;
    background-color: #3B9FFF;
    opacity: 0.5;
    position: relative;
    left: -10vh;
    top: -4vh;
    z-index: -1;
  }
  .why-purple-box {
    width: 30vh;
    height: 7vh;
    border-radius: 5vh;
    background-color: #CE12AF;
    opacity: 0.5;
    position: relative;
    left: 70vh;
    top: -18vh;
    z-index: -1;
  }
    .why-pink-hearing {
      position: absolute;
      width: 731px;
      height: 1335px;
      top: -30vh;
      left: -40%;
      opacity: 0.6;
    }
   .why-pink {
    position: absolute;
    width: 731px;
    height: 1335px;
    top: 141px;
    left: -10%;
  }
  /* homepage  */
   .waves {
    position: absolute;
    width: 100%;
    height: 600px;
    top: 30vh;
    background-image: url('photos/83nea54g.png');
  }
  
   .logo-text {
    position: absolute;
    width: 458px;
    height: 239px;
    top: 160vh;
    left: 36%;
  }
  
 
  
   .cyrcleche {
    position: absolute;
    width: 183px;
    height: 183px;
    top: 0;
    left: 136px;
    border-radius: 91.5px;
    border: 7px solid;
    border-color: #ffffff;
  }
  
   .lights-section-5 {
    position: absolute;
    width: 531px;
    height: 1258px;
    top: 0;
    left: 939px;
  }
  
   .lights-section-5-left {
    position: absolute;
    width: 672px;
    height: 1335px;
    top: 3px;
    left: -30px;
  }
  
   .awarness {
    position: absolute;
    width: 1289px;
    height: 604px;
    top: 219px;
    left: 102px;
  }
   .purple-shape {
    position: absolute;
    width: 267px;
    height: 57px;
    top: 547px;
    left: 0;
    background-color: #3b9fff;
    border-radius: 66px;
    box-shadow: 5px 4px 21.1px #00000040;
  }
  
   .blue-shape {
    position: absolute;
    width: 267px;
    height: 57px;
    top: 0;
    left: 186px;
    background-color: #ce12af;
    border-radius: 66px;
    box-shadow: 8px 4px 19.3px #00000040;
  }
  
   .ear-img {
    position: absolute;
    width: 373px;
    height: 547px;
    top: 29px;
    left: 29px;
    object-fit: cover;
  }
  
   .text-listen {
    position: absolute;
    top: 29px;
    left: 84vh;
  }
  
   .text-box-listen {
    position: absolute;
    width: 637px;
    top: 0;
    left: 0;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 42px;
    letter-spacing: 7.56px;
    line-height: 36px;
  }
  
   .text-box-listen-1 {
    position: absolute;
    width: 605px;
    top: 84px;
    left: 0;
    font-family: "Ubuntu", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 38px;
    letter-spacing: 2.66px;
    line-height: 38px;
  }
  
   .text-box-listen-2 {
    position: absolute;
    width: 672px;
    top: 324px;
    left: 611px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 38px;
    letter-spacing: 2.66px;
    line-height: 38px;
  }
  
   .purple-dot {
    position: absolute;
    width: 51px;
    height: 44px;
    top: 28px;
    left: 541px;
  }

  
   .button-listen {
    position: absolute;
    top: 475px;
    left: 603px;
    width: 635px;
    height: 75px;
    background-color: transparent;
    border-radius: 66px;
    border: 4px solid #ff7000bd;
    
  }
  
   .find-out {
    position: absolute;
    top: 20px;
    left: 165px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 28px;
    letter-spacing: 6.72px;
    line-height: 24px;
    white-space: nowrap;
  }
  /* specifics section  */
  .specifics-info {
    position: absolute;
    top: -55vh;
  }
  
   .effects-curl {
    position: absolute;
    width: 100%;
    left: 10px;
    top: 345vh;

  }
  .specifics {
    position: absolute;

    top: 410vh;
  }
 

   .specifics-group {
    position: absolute;
    top: 100vh;
  }
  
   .purple-effects-line {
    position: absolute;
    width: 1440px;
    height: 763px;
    top: 430px;
    left: 0;
  }
  
   
  /* effects  */
   .specifics-effects {
    position: relative;
    top: -102px;
    left: 7vh;
  }
  
   .shine-lines {
    position: absolute;
    width: 1210px;
    height: 580px;
    top: 98px;
    left: 106px;
  }
  
   .shine {
    position: absolute;
    width: 1417px;
    height: 792px;
    top: 0;
    left: 0;
  }
  
   .specifics-title-1 {
    position: absolute;
    width: 217px;
    top: 172px;
    left: 1112px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
   .specifics-title-2 {
    position: absolute;
    width: 212px;
    top: 592px;
    left: 1099px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
   .specifics-title-3 {
    position: absolute;
    width: 212px;
    top: 605px;
    left: 178px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
   .specifics-title-4 {
    position: absolute;
    width: 212px;
    top: 117px;
    left: 124px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
   .feedback {
    position: absolute;
    top: 720vh;
  
  }
  .form-why {
    top: 420vh;

  }
  .form-products {
    top: 80vh;
  }
  .feedback-img {
    position: absolute;
    right: 164vh;
  }
   
  
   .we-need-your {
    position: absolute;
    top: 103px;
    left: 0;
    font-family: "Ubuntu", Helvetica;
    color: #ffffff;
    font-size: 66px;
    letter-spacing: 0;
    line-height: 124.4px;
  }
  
   .colorful-circle {
    position: absolute;
    width: 433px;
    height: 455px;
    top: 0;
    left: 47px;
  }
  

 

   .line {
    position: absolute;
    width: 624px;
    height: 3px;
    top: 42px;
    left: 1px;
  }

  
   .line-2 {
    position: absolute;
    width: 624px;
    height: 3px;
    top: 42px;
    left: 0;
  }
  
   .line-3 {
    position: absolute;
    width: 624px;
    height: 3px;
    top: 319px;
    left: 1px;
  }
  
   
   .products {
    position: absolute;
    width: 93%;
    top: 240vh;
    left: 3%;
  }

   .pink-effect {
    position: absolute;
    width: 300px;
    left: 150vh;
  }
  
   .purple-effect {
    position: absolute;
    width: 289px;
    height: 280px;
    top: 456px;
    left: 0;
  }
  .why-line-1,.why-line-2 {
    position: absolute;
    width: 0.4vh;
    border-radius: 2vh;
    height: 35vh;
    background-color: #000000;
    top: 23vh;
    opacity: 0.7;
  }
  .why-line-1 {
    left: 104vh;
  }

  .why-line-2 {
    left: 53vh;
  }
   .transparent-box {
    position: absolute;
    width: 1150px;
    height: 534px;
    top: 102px;
    left: 130px;
    border-radius: 22px;
    /* box-shadow: 14px 10px 20.7px rgb(206, 176, 176); */
    backdrop-filter: blur(12.5px) brightness(100%);
    -webkit-backdrop-filter: blur(12.5px) brightness(100%);
  }
  .box-pinkcolor {
    position: absolute;
    width: 1150px;
    height: 534px;
    top: 102px;
    left: 130px;
    border-radius: 22px;
    background-color: #a33e99;
    opacity: 0.15;
    z-index: -1;
  }
  
  .products-each {
    display: grid;
  }
   .products-heart {
    position: absolute;
    width: 323px;
    height: 438px;
    top: 114px;
    left: 243px;
    object-fit: cover;
  }
  /* each product img */
  .bu {
    background-image: url('photos/buds/bu1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 30vh;
    position: relative;
    top: 5vh;
  }
  .bu2 {
    background-image: url('photos/buds/bu2.png');

  }
  .bu3 {
    background-image: url('photos/buds/bu3.png');

  }
  .bu4 {
    background-image: url('photos/buds/bu4.png');

  }
  .bu5 {
    background-image: url('photos/buds/bu5.png');

  }
  .bu6 {
    background-image: url('photos/buds/bu6.png');

  }
  .bu7 {
    background-image: url('photos/buds/bu7.png');

  }
  .white {
    width: 40vh;
    height: 55vh;
    background-color: white;
    box-shadow: 0 3px 10px rgba(186, 184, 184, 0.5);

  }
  .left {
    left: 22.8vh;
  }
 

  .why-text-group {
    display: grid;
  grid-template-columns: 300px 300px 300px;
  position: relative;
  top: 20vh;
  left: 13%;
  }
  .why-text-group-1,.why-text-group-2,.why-text-group-3 {
    width: 100%;
    height: 20vh;
    text-align: center;
    color: black;
line-height: 5vh;
font-size: 4vh;
letter-spacing: 0.3vh;
font-family: "Ubuntu", Helvetica;
position: relative;

  }
  /* products each  */
  .products-first {
    position: relative;
    top: -15vh;
  }
  .products-second {
    position: relative;
    top: 70vh;
  }
  .products-third {
    position: relative;
    top: 70vh;
  }
  .products-fourth {
    position: relative;
    top: 70vh;
  }
  .products-fifth {
    position: relative;
    top: 70vh;
  }
.why-logo-text {
top: 185vh;}
.products-logo-text {
  top: 420vh;
}
  .vector-1 {
    background-image: url('photos/vector1.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 120%;
    height: 100vh;
    position: relative;
    top: 140vh;
    left: -20vh;
    z-index: -100;
  }
  .why-text-group-1 {
    right: 13vh;
  }
  .why-text-group-2 {
    right: 2vh;
  }
  .why-text-group-3 {
    left: 9vh;
  }

  .purple-letters {
    color: purple;
    font-weight: 550;
  }
  .big {
    font-size: 6.5vh;

  }

.why-title {
  position: relative;
  left: 28%;
  top: 12vh;
  font-size: 6vh;
  letter-spacing: 1vh;
  font-family: "Ubuntu";
  font-weight: 400;
}
/* products titles  */
   .products-smiley {
    position: absolute;
    width: 300px;
    height: 408px;
    top: 114px;
    left: 77vh;
  }
 
   .products-skull {
    position: absolute;
    width: 300px;
    height: 55vh;
    top: 114px;
    left: 120vh;
  }
  .right {
    left: 140vh;
  }
  .lines-1 {
    position: absolute;
    width: 61px;
    height: 21px;
    top: 528px;
    left: 284px;
  }
  
   .line-1 {
    position: absolute;
    width: 16px;
    height: 22px;
    top: 1px;
    left: 1px;
  }
  
   .line-2 {
    position: absolute;
    width: 16px;
    height: 22px;
    top: 1px;
    left: 18px;
  }
  
   .line-3 {
    position: absolute;
    width: 16px;
    height: 22px;
    top: 1px;
    left: 34px;
  }
  
   .line-4 {
    position: absolute;
    width: 16px;
    height: 22px;
    top: 1px;
    left: 51px;
  }
  
   .lines-2 {
    position: absolute;
    width: 61px;
    height: 21px;
    top: 528px;
    left: 599px;
  }
  
   .lines-3 {
    position: absolute;
    width: 61px;
    height: 21px;
    top: 528px;
    left: 124vh;
  }
  .lights {
    left: 0;
  }
   .product-title-1 {
    position: absolute;
    width: 233px;
    top: 559px;
    left: 281px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 400;
    font-style: italic;
    color: #ffffff;
    font-size: 29px;
    letter-spacing: 0;
    line-height: 24.8px;
  }
  
   .product-title-2 {
    position: absolute;
    width: 233px;
    top: 559px;
    left: 596px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 400;
    font-style: italic;
    color: #ffffff;
    font-size: 29px;
    letter-spacing: 0;
    line-height: 24.8px;
  }
  
   .product-title-3 {
    position: absolute;
    width: 233px;
    top: 559px;
    left: 124vh;
    font-family: "Ubuntu", Helvetica;
    font-weight: 400;
    font-style: italic;
    color: #ffffff;
    font-size: 29px;
    letter-spacing: 0;
    line-height: 24.8px;
  }
  .add-to-products-1 {
    position: absolute;
    top: 52vh;
    left: 12.4%;

  }
  .add-to-products-2 {
    position: absolute;
    top: 52vh;
    left: 84vh;

  }
 
  .black {
    color: black;
  }
  .add-to-products-3{
    position: absolute;
    top: 52vh;
    left: 142vh;

  }
   /* cart  */
   .add-to-cart-3 {
    position: absolute;
    top: 65vh;
    left: 66.5%;
  }
  
  
   .white-box-cart {
    width: 240px;
    height: 33px;
    background-color: #e0e0e0;
    border-radius: 15px;
  }
  .pink-box-cart {
    width: 41vh;
    height: 33px;
    background-color: #f7e2ff;
    position: relative;
    left: -2.2vh;
  }
   .add-to-cart {
    position: absolute;
    width: 241px;
    top: 4px;
    left: 4px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: -1.52px;
    line-height: 25.8px;
    white-space: nowrap;
  }
  
  
  .our-products-title {
     position: relative;
    left: 124px;
  }
   .our-products-title-2 {
 position: relative;
 left: 7%;
 top: -1vh;
    font-weight: 400;
    font-size: 50px;
    font-family: "Ubuntu", Helvetica;
    color: #ffffff;
  }
  .cash {
    margin-left: 22%;
  }
   .our-products-title-dot {
    position: absolute;
    width: 32px;
    height: 27px;
    top: 7px;
  }
  .listen {
    position: absolute;
    top: 600vh;
  }
   .add-to-cart-1 {
    position: absolute;
    top: 65vh;
    left: 20%;
  }
  /* .nav-bar and header   */
  .nav-bar {
    display: flex;
    flex-direction: row;
    position: relative;
    top:43px;
    left: 40%;
  }
  .nav-bar-links {
    display: flex;
    position: relative;
    top: 18%;
  }
  .nav-bar-text-1,.nav-bar-text-2,.nav-bar-text-3 {
    font-family: "Ubuntu", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 22px;
    margin-right:4vh;
  }
  .header {
    display: flex;

  }


   .nav-bar .nav-bar-text-1:hover,   .nav-bar .nav-bar-text-2:hover,   .nav-bar .nav-bar-text-3:hover {
    border-bottom: 0.4vh solid white;
    padding-bottom: 1vh;
  }

  /* cart  */
  .cart-container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: white;
    box-shadow: -2px 0 5px blach(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
  }
  .total-price {
  
  text-decoration: underline;
  margin-bottom: 2vh;

  }
  .cart-container .cart-items {
    max-height: 100px; /* Set a maximum height for the cart items */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
  }
  .delete-button {
    margin-left: 2vh;
    background-color: rgb(248, 13, 169);
    color: white;
    opacity: 0.6;
    border: none;
    margin-top: 0.3vh;
  }
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #cartContainer {
    height: 70%;
opacity:0.95;  

}

  .product-info {
    display: flex;
    align-items: center;
    position: relative;
    top: 5vh;
  
    
  }
  
  .product-name,
  .product-price {
    margin-right: 10px; 
  }
  
  .delete-button {
    margin-left: auto;
    width: 8vh;
    letter-spacing: 0.15vh;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
  }
  
  .exit-button {
    position: absolute;
    left: 35vh;
    top: 2.5vh;
    background-color: transparent;
    border: none;
    
  }
  .show-cart {
    display: block;
    z-index: 5;
  }
  
  .cart-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  .product-name {
    margin-right: 10px;
  }
  
   .add-to-cart-2 {
    position: absolute;
    top: 65vh;
    left: 43%;
  }
  
  .specifications-img {
    width: 400px;
    position: absolute;
    top: 115vh;
    left: 73vh;
    transition: transform 0.5s ease-in-out;
  }
  
  .specifications-img:hover {
    transform: scale(1.1); 
    }
  

  
  .cart {
    position: relative;
    width: 189px;
    height: 78px;
    border-radius: 33px;
    border: 3px solid #ffffff;
    transition: transform 0.3s ease-out;
  }
  
  .cart:hover {
    animation: shake 0.5s ease-in-out;
  }
  
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25%, 75% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
  }
  
  
   .nav-bar-text-4 {
    position: absolute;
    top: 23px;
    left: 92px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  /* shopping cart  */
   .shopping-cart {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 19px;
    left: 30px;
  }
  .shopping-cart-black {
    background-image: url('photos/cart-removebg-preview.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
   .title {
    position: absolute;
    width: 400px;
    top: 27vh;
    left: 8%;
  }
  
   .hello-button {
    position: absolute;
    width: 200px;
    height: 79px;
    top: 333px;
    left: 0;
  }
  
 .links-nav {
  height: 20%;
 }
  
  
  .our-products-button {
    font-family: "Ubuntu", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 22px;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: 4px solid white;
    padding-top: 5%;
    padding-left: 7%;
    background-color: #000000;
    transition: transform 0.3s ease-out;
  }
  
  .our-products-button:hover {
    transform: translate(5px, -5px); /* Adjust the values as needed */
  }
  .red-circle-banner {
    position: fixed;
    right: 13vh;
    top: 4vh;
    background-color: red;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    z-index: 3;
  }
  
   .span {
    color: #e017c0de;
    font-family: "Ubuntu", Helvetica;
    font-weight: 700;
    font-size: 101px;
    line-height: 101px;

  }
  
  .white-text {
    color: white;
  }
 
  
  .img-left {
    position: relative;
    left: 7vh;
  }
  .img-center {
    position: relative;
    left: -8vh;
  }
  .img-right {
    position: relative;
    left: -22vh;
  }
  
   .specifics-title {
    position: absolute;
    top: 20px;
    left: 58vh;
    font-family: "Ubuntu", Helvetica;
    font-weight: 400;
    color: #ebebeb;
    font-size: 63px;
    white-space: nowrap;
  }
  /* footer  */
   .footer {
    position: absolute;
    top: 825vh;
   
    background-color: transparent;
  }
  .footer-why {
    top: 600vh;
  }
  .footer-products {
    top: 550vh;
  }
  
   .space {
    position: relative;
    width: 1440px;
    height: 590px;
    background-color: #0e001c;
  }
  
 
  

  
   .big-title-footer {
    position: absolute;
    width: 400px;
    top: 186px;
    left: 53px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 300;
    color: white;
    font-size: 56px;
    letter-spacing: 0;
    line-height: 75.9px;
  }
  
   
  
   .span-purple {
    color: #ff63e59e;
  }
  
   
  
   .nav-footer {
    position: absolute;
    width: 633px;
    height: 31px;
    top: 86px;
    left: 702px;
  }
  /* footer  */
   .nav-footer-container {
    display: inline-flex;
    align-items: flex-start;
    gap: 54px;
    position: relative;
  }
  
   .footer-title-1 {
    position: relative;
    width: 173px;
    height: 31px;
    margin-top: -1px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.8px;
    line-height: 27.1px;
    font-family: "Ubuntu", Helvetica;
    color: #ffffff;
    white-space: nowrap;
  }
  
   .footer-title-2 {
    position: relative;
    width: 99px;
    height: 31px;
    margin-top: -1px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: -0.8px;
    line-height: 27.1px;
    white-space: nowrap;
  }
  
   .footer-title-3 {
    position: relative;
    width: 84px;
    height: 31px;
    margin-top: -1px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: -0.8px;
    line-height: 27.1px;
    white-space: nowrap;
  }
  
   .footer-title-4 {
    position: relative;
    width: 115px;
    height: 31px;
    margin-top: -1px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: -0.8px;
    line-height: 27.1px;
    white-space: nowrap;
  }
  
   .line-footer {
    position: absolute;
    width: 1440px;
    height: 2px;
    top: 484px;
    left: 0;
  }
  
   .all-models-smiley {
    position: absolute;
    width: 148px;
    top: 127px;
    left: 709px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.72px;
    line-height: 24.4px;
  }
  
   .glowbuds-vs-gmail {
    position: absolute;
    width: 197px;
    top: 120px;
    left: 872px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.64px;
    line-height: 21.7px;
  }
/* form */
  .form {
    position: absolute;
    left: 100vh;
    
  }
   .feedback-form {
    position: relative;
    width: 80vh;
    left: 10vh;
    top: 11vh;
    font-family: "Ubuntu", Helvetica;

  }
   .feedback-form input,   .feedback-form textarea{
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    padding-top: 25px;
    padding-bottom: 15px;
    font-size: 22px;
    width: 80%;
    color: white;
    font-family: "Ubuntu", Helvetica;

    
  }
   .feedback-form button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-size: 22px;
    padding: 15px;
    margin-top: 25px;
    font-family: "Ubuntu", Helvetica;

  }
   .instagram-container {
    position: absolute;
    width: 131px;
    height: 25px;
    top: 125px;
    left: 1214px;
  }
  
   .instagram {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
  }
  
   .instagram-text {
    position: absolute;
    width: 111px;
    top: 0;
    left: 20px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.72px;
    line-height: 24.4px;
    white-space: nowrap;
  }
  
   .country-footer {
    position: absolute;
    width: 138px;
    top: 491px;
    left: 56px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.72px;
    line-height: 24.4px;
    white-space: nowrap;
  }
  
   .currency-footer-border {
    position: absolute;
    width: 142px;
    height: 40px;
    top: 524px;
    left: 62px;
    border-radius: 4px;
    border: 1px solid;
    border-color: #ffffff;
  }
  
   .currency-footer {
    position: absolute;
    width: 135px;
    top: 8px;
    left: 2px;
    font-family: "Ubuntu", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    letter-spacing: -0.6px;
    line-height: 20.3px;
    white-space: nowrap;
  }
  
  .arrow {
    position: fixed;
    width: 85px;
    height: 85px;
    top: 80%;
    left: 1301px;
    border-radius: 42.5px;
    border: 4px solid;
    border-color: #ffffff;
    transition: transform 0.3s ease-out;
  }
  
  .arrow:hover {
    animation: slideUpAndDown 1s ease-in-out 0.4s;
  }
  
  @keyframes slideUpAndDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-4vh); /* Adjust the value for the desired distance */
    }
    100% {
      transform: translateY(0);
    }
  }
  
  /* arrow to top  */
   .arrow-2 {
    position: absolute;
    width: 37px;
    height: 42px;
    top: 16px;
    left: 21px;
  }
  /* listen wise page  */
  .why-glowbuds {
    background-color: #f7e2ff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  


  .listen-wise-section-1 {
    background-color: #f7e2ff;
width: 100%;
height: 150vh;
position: relative;
bottom: 20%;
z-index: -1;
  }
  .nav-bar-listen-wise {
    color: black;
    font-family: "Ubuntu", Helvetica;
    font-weight: 400;
    font-size: 22px;
    margin-right:4vh;
  }

  .nav-bar-listen-wise:hover {
    border-bottom:0.4vh solid black;
    padding-bottom: 1vh;
  }

.why {
  position: relative;
  top: 15%;
  left: 4%;
}
.why-text-box-protect {
  width: 200%;
  margin-left: -12vh;
}
.circles {
  display: grid;
  grid-template-columns: 20vh 20vh 20vh;
  grid-template-rows: 20vh 20vh;
 position: relative;
 left: 7vh;
 gap: 25vh;
}
.circle-img-1,.circle-img-2,.circle-img-3,.circle-img-4,.circle-img-5 {
  background-size: contain;
  background-repeat: no-repeat;
  width: 15vh;
  position: relative;
  left: 1.5vh;
  top: 1vh;
  height: 15vh;
  transition: transform ease-out 0.3;
  z-index: 10;
}
.circle-img-1:hover {
  transform: scale(1.2);

}
.circle-img-1:hover,.circle-img-2:hover,.circle-img-3:hover,.circle-img-4:hover,.circle-img-5:hover {
  transform: scale(1.2);

}
.circle-img-1 {
  top: 1.5vh;
  background-image: url('photos/ear-removebg-preview.png');

}
.circle-img-2 {
  top: 3vh;
  left: 1.2vh;
  background-image: url('photos/second-removebg-preview.png');
}
.circle-img-3 {
  top: 2vh;
  background-image: url('photos/third-removebg-preview.png');
}
.circle-img-4 {
  top: 2vh;
  background-image: url('photos/fourth-removebg-preview.png');
}
.circle-img-5 {
  top: 3vh;
  left: 0.5vh;
  background-image: url('photos/fifth-removebg-preview.png');
}
/* glowuds page  */
.hearing-problems-title {
  color: white  ;
  font-size: 6vh;
  position: relative;
  left: 30vh;
  bottom: 13vh;
  font-family: "Ubuntu", Helvetica;


}
.hearing-problems-sub-title {
  color: grey;
  font-size: 4vh;
  position: relative;
  left: 25%;
  top: 15vh;
  font-style: italic;
}

.hearing-problems {
   position: absolute;
  top: 260vh;
  left: 40vh;
}
.circles p {
  color: white;
  width: 30vh;
  height: 5vh;
  text-align: center;
  position: relative;
  top: 6.5vh;
  left: -5vh;
  font-family: "Ubuntu", Helvetica;

}
.last-circle,.feeling-circle {
  
}
.circle-first {
  position: relative;
  right: 15vh;
}
.circle-third {
  position: relative;
  left: 15vh;
}
.circle {
  border: 1vh solid #F8E2FF;
  border-radius: 50%;
  
}

.circle-last {
  position: relative;
  left: 20vh;

}
.main-cause-img {
  width: 210%;
  height: 45vh;
  background-size: cover;
  background-image: url('photos/people.png');
}
.main-cause {
  position: absolute;
  top: 370vh;


}
.main-cause-text {
  position: relative;
  left: 45vh;
}
.main-cause-text div,.main-cause-text p {
  color: white;
}
.main-cause-text div {
  font-size: 4vh;
  margin-top: 8vh;
  margin-bottom: 3vh;
  font-family: "Ubuntu", Helvetica;

}
.purple-box-title {
  background-color: rgb(59, 24, 96);
  width: 35vh;
  height: 5vh;
  position: absolute;
  left: -5vh;
  top: 4vh;
  z-index: -1;
}
.text-what {
  font-size: 4vh;
  position: relative;
  left: 40vh;
  color: white;
  font-family: "Ubuntu", Helvetica;
  letter-spacing: 0.5vh;
}
.text-prolonged {
  color: #D36ABC;
  font-family: "Ubuntu", Helvetica;
  font-size: 4.2vh;
  position: relative;
  left: 75%;
  margin-top: 10vh;
  margin-bottom: 5vh;

}
.main-cause-text p  {
  font-size: 3vh;
  text-align: center;
  font-family: "Ubuntu", Helvetica;
  position: relative;
  left: -8vh;
  line-height: 3.5vh;

}
.main-cause-button {
  color: white;
  position: relative;
  left: 39vh;
  border: 2px solid white;
  padding: 3vh;
  padding-left: 3.5vh;
  width: 28%;
  border-radius: 5vh;
  background-color: transparent;
}
.main-cause-button:hover {
  color: black;
  background-color: white;
}
.page-products {
  background-color: #f7e2ff;
  width: 100%;
  height: 400vh;
  padding-top: 40vh;
  margin-top: -40vh;
}
.products-img-curl {
  background-repeat: no-repeat;
  background-size: cover;
  width: 120%;
  height: 40vh;position: absolute;
top: 140vh;
left: -20vh;
  background-image: url('photos/vector1.png');
}

.smile {
  position: absolute;
  left: 82vh;
}
.left-title {
  left: 27vh;
  top: 61vh;
}
.left-line {
  top:57vh;
}

.right-title {
  left: 144vh;
  top: 61vh;
}
.right-line {
  top:57vh;
}
.center-title {
  left: 86vh;
  top: 61vh;
}
.center-line {
  top:57vh;
}
